@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Bienvenido"]</h1>
    <p>@localizer["aprende_mas"]</p>
</div>

<div>
    <h3>@ViewBag.Saludo, Emmanuel</h3>
</div>

<button onclick="mostrarError()">
    Mostrar mensaje
</button>

@section Scripts {
    <script src="~/js/utilidades.js"></script>
}